<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping https://dozermapper.github.io/schema/bean-mapping.xsd">

    <mapping map-null="false" wildcard="false" map-id="arrayMapping">
        <class-a>org.mashov.generated.ArrayIn</class-a>
        <class-b>org.mashov.generated.ArrayOut</class-b>
        <field>
            <a>childrens</a>
            <b>childrensout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="mapMapping">
        <class-a>org.mashov.generated.MapIn</class-a>
        <class-b>org.mashov.generated.MapOut</class-b>
        <field>
            <a>additional</a>
            <b>additionalout</b>
        </field>
    </mapping>

    <mapping wildcard="false" map-id="dateMapping">
        <class-a>org.mashov.generated.DateIn</class-a>
        <class-b>org.mashov.generated.DateOut</class-b>
        <field>
            <a>date</a>
            <b>dateout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="fixedMapping">
        <class-a>org.mashov.generated.FixedIn</class-a>
        <class-b>org.mashov.generated.FixedOut</class-b>
        <field>
            <a>fixes</a>
            <b>fixesout</b>
        </field>
    </mapping>
</mappings>