<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping https://dozermapper.github.io/schema/bean-mapping.xsd">

    <mapping map-null="false" wildcard="false" map-id="enumMapping">
        <class-a>org.mashov.generated.EnumIn</class-a>
        <class-b>org.mashov.generated.EnumOut</class-b>
        <field>
            <a>card</a>
            <b>cardout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="enumDifferentMapping">
        <class-a>org.mashov.generated.EnumIn</class-a>
        <class-b>org.mashov.generated.EnumOutDifferentType</class-b>
        <field>
            <a>card</a>
            <b>cardout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="arrayMapping">
        <class-a>org.mashov.generated.ArrayIn</class-a>
        <class-b>org.mashov.generated.ArrayOut</class-b>
        <field>
            <a>childrens</a>
            <b>childrensout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="mapMapping">
        <class-a>org.mashov.generated.MapIn</class-a>
        <class-b>org.mashov.generated.MapOut</class-b>
        <field>
            <a>additional</a>
            <b>additionalout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="stringMapping">
        <class-a>org.mashov.generated.StringIn</class-a>
        <class-b>org.mashov.generated.StringOut</class-b>
        <field>
            <a>username</a>
            <b>usernameout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="bytesMapping">
        <class-a>org.mashov.generated.BytesIn</class-a>
        <class-b>org.mashov.generated.BytesOut</class-b>
        <field>
            <a>username</a>
            <b>usernameout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="intMapping">
        <class-a>org.mashov.generated.IntIn</class-a>
        <class-b>org.mashov.generated.IntOut</class-b>
        <field>
            <a>age</a>
            <b>ageout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="longMapping">
        <class-a>org.mashov.generated.LongIn</class-a>
        <class-b>org.mashov.generated.LongOut</class-b>
        <field>
            <a>painumber</a>
            <b>painumberout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="floatMapping">
        <class-a>org.mashov.generated.FloatIn</class-a>
        <class-b>org.mashov.generated.FloatOut</class-b>
        <field>
            <a>angle</a>
            <b>angleout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="doubleMapping">
        <class-a>org.mashov.generated.DoubleIn</class-a>
        <class-b>org.mashov.generated.DoubleOut</class-b>
        <field>
            <a>angle</a>
            <b>angleout</b>
        </field>
    </mapping>

    <mapping map-null="false" wildcard="false" map-id="booleanMapping">
        <class-a>org.mashov.generated.BooleanIn</class-a>
        <class-b>org.mashov.generated.BooleanOut</class-b>
        <field>
            <a>amibalding</a>
            <b>amibaldingout</b>
        </field>
    </mapping>

    <mapping wildcard="false" map-id="nullMapping">
        <class-a>org.mashov.generated.NullIn</class-a>
        <class-b>org.mashov.generated.NullOut</class-b>
        <field>
            <a>iamnull</a>
            <b>iamnullout</b>
        </field>
    </mapping>

    <mapping wildcard="false" map-id="dateMapping">
        <class-a>org.mashov.generated.DateIn</class-a>
        <class-b>org.mashov.generated.DateOut</class-b>
        <field>
            <a>date</a>
            <b>dateout</b>
        </field>
    </mapping>
</mappings>